<div class="container" ng-controller="TransformController">
  <div class="panel panel-default">
    <div class="panel-heading">{{videoDetails.title}}</div>
    <div class="panel-body">

      <div class="row" >
          <div class="col-sm-8" class="bs-callout">
            <div class="embed-responsive embed-responsive-4by3">
              <video width="320" height="240" ng-src="{{ videoDetails.url | trustUrl }}" poster="" controls >
                Your browser does not support the video tag.
              </video>
            </div>

            <h5>No of Views:  {{ views.counter }}</h5>
            <form name="updateForm" ng-submit="updateVideo()">
                <div class="form_group">
                    <label path="title"> Title: </label>
                    <div class="form_controls">
                        <input type="text" class="form-control" placeholder="Title" ng-model="videoDetails.title" required autofocus>
                    </div>
                </div>

                <input type="hidden" ng-model="videoDetails.format" >

                <div class="form_group">
                    <label path="title"> Description: </label>
                    <div class="form_controls">
                        <textarea class="form-control" placeholder="Description" ng-model="videoDetails.description" required></textarea>
                    </div>
                </div>

                <div class="form_group">
                    <label path="title"> Tag: </label>
                    <div class="form_controls">
                      <input type="text" class="form-control" placeholder="Tag" ng-model="videoDetails.tag">
                    </div>
                </div>

                <!-- Add Video Caption -->
                <div class="form_group">
                    <label path="title"> Add Video Caption </label>
                    <div class="form_controls">
                      <input type="text" class="form-control" placeholder="Add Video Caption" ng-model="videoDetails.caption">
                    </div>
                </div>         
      </div>
     <hr />
    </div>
  </div>
  </div>
</div>
</div>
