<div class="container" ng-controller="TransformController">
  <div class="panel panel-default">
    <div class="panel-heading"><span class="lead" >{{videoDetails.title}}</span></div>
    <div class="panel-body">
            <div style="padding-top:0px !important;">
              <video style="margin:auto !important; display:block !important;" width="640" height="480" ng-src="{{ videoDetails.url | trustUrl }}" poster="../img/poster.png" controls autoplay>
                Your browser does not support the video tag.
              </video>
            </div>
              
            
            <h5>No of Views: &nbsp;<span style="color:red !important;">{{ views.counter }}</span></h5> 
                <div class="form_group">
                    <label path="title"> Description: </label>
                    
                       <!-- <textarea class="form-control" placeholder="Description" ng-model="videoDetails.description" required></textarea>-->
                       <div class="well ">
                         {{videoDetails.description}}
                       </div>
                </div>     
     
     <hr/>
    
  </div>
  </div>
</div>
</div>
