<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Upload Video</div>
    <div class="panel-body">
      <div >
          <h4>New Video</h4>
          <form class="form" >
            
          <div class="form-group">
            <label>Title:</label>
            <input class="form-control"  autofocus ng-model="uploadctrl.video.title" type="text">
          </div>

          <div class="form-group">
            <label>Description:</label>
            <input class="form-control"  ng-model="uploadctrl.video.desc" type="textarea">
          </div>

          <div class="form-group">
            <button class="btn btn-primary" ng-click="uploadctrl.upload()">Upload Video</button>
          </div>
          <button  class="btn btn-block btn-success" style="align:center !important;" ng-click="uploadctrl.golive(video)">Go Live!</button>

          </form>
          </div>
      </div>

    </div>
  </div>
</div>
