<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Upload Video</div>
    <div class="panel-body">
      <div >
          <h4>New Video</h4>
          <form class="form" >
            
          <div class="form-group">
            <label>Title:</label>
            <input class="form-control"  autofocus ng-model="uploadctrl.video.title" type="text">
          </div>

          <div class="form-group">
            <label>Description:</label>
            <input class="form-control"  ng-model="uploadctrl.video.desc" type="textarea">
          </div>

          <div class="form-group">
            <button class="btn btn-primary" ng-click="uploadctrl.upload()">Upload Video</button>
          </div>
          <button  class="btn btn-block btn-success" style="align:center !important;" ng-click="uploadctrl.golive(video)">Go Live!</button>

          </form>

         <!-- <div class="file" ng-repeat="file in files">
              <h3>{{ file.name }} {{ f.$error }} {{ f.$errorParam }}</h3>
              <div class="status">{{ file.status }}</div>
              <div class="progress" ng-show="file.status == 'Done...100%'">
                <div class="progress-bar progress-bar-success progress-bar-striped" ng-show="file.status == 'Done...100%'" style="width: {{ file.progress }}%" ng-init="progress=0" role="progressbar">
                  <span class="sr-only">{{ file.progress }}</span>
                </div>
              </div>

              <div class="progress" ng-show="file.status == 'Uploading...'">
                <div class="progress-bar progress-bar-info progress-bar-striped active" ng-show="file.status == 'Uploading...'" style="width: {{ file.progress }}%" ng-init="progress=0" role="progressbar">
                  <span class="sr-only">{{ file.progress }}</span>
                </div>
              </div>-->

              <!-- Add this for video preview-->
              <!--<div class="form_line">
                  <div class="form_controls">
                      <div class="preview">
                          <video controls ngf-src="file.result.response.url || file" autoplay="autoplay">
                      </div>
                  </div>
              </div>-->
          </div>
      </div>

    </div>
  </div>
</div>
